pre, pre code {
    background-color: transparent;
    border: none ;
    padding: 0 ;
    align-items: center;
    justify-content: center;
  /* Other styles */

  }
  
  code.shell {
    background-color: #e7f2e3 ;
    padding: 5px ;
    color: #000000;
    line-height: unset;
  }
  code.yaml {
    background-color: #ffffff;
    padding: 5px;
    line-height: unset;
    border-style:inset;
    border-color: #000000;
    border-width: 1px;
  }